@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------- NAVBAR STARTS HERE ------------------------------------------*/

/* Navbar Container*/
nav {
    width: 100vw;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}

/* Brand Logo */
.brand-logo {
    position: absolute;
    width: 35.85px;
    height: 42.75px;
    left: 40px;
    top: 10px;
}

/* Brand Title */
.brand-title {
    position: absolute;
    width: 290px;
    height: 24px;
    left: 89px;
    top: 25px;

    font-family: 'Gilroy-Bold';
    font-size: 26px;
    line-height: 22px;
    font-weight: bold;
    color: #444BAB;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
}

li .renaissance {
    position: absolute;
    width: 93px;
    height: 19px;
    left: 480px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .campusprograms {
    position: absolute;
    width: 150px;
    height: 19px;
    left: 600px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .hirewithus {
    position: absolute;
    width: 110px;
    height: 19px;
    left: 760px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .stories {
    position: absolute;
    width: 50px;
    height: 19px;
    left: 890px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .navevents {
    position: absolute;
    width: 48px;
    height: 19px;
    left: 975px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

.login {
    position: absolute;
    top: 15px;
    left: 1180px;
    height: 36px;
    width: 121px;

    color: #444BAB;
    background: #FFFFFF ;
    font-size: 17px;
    font-family: 'Gilroy-Bold';
    border: 1px solid #444BAB;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startfreetrial {
    position: absolute;
    top: 15px;
    left: 1320px;
    height: 36px;
    width: 164px;

    color: #FFFFFF;
    background: #444BAB;
    font-size: 17px;
    font-family: 'Gilroy-Bold';
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------------- NAVBAR ENDS HERE ------------------------------------------*/


/* -------------------------------------- ADD EVENT STARTS HERE -------------------------------------*/

/*---------------------------------------- ADD EVENT ENDS HERE -------------------------------------*/


/*---------------------------------------- FOOTER STARTS HERE -----------------------------------------*/

/* Footer Container */
footer {
    width: 100%;
    position: absolute;
    top: 1000px;
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
}

/* Top Horizontal line */
#footer-hr1 {
    position: absolute;
    width: 100vw;
    bottom: 520px;
    left: 0;
}

/* Row Container */
.row {
    width: 88%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.column-1 h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    padding-bottom: 24px;
    color: #4F516B;
}

.column-1 h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    padding-bottom: 46px;
    color: #505050;
}

/* Column 1 list items */
ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #4F516B;
    margin-left: -30px;
    width: fit-content;
    column-gap: 35px;
}   
.column-1 ul li a {
    color: #505050;
    text-decoration: none;
}

/* Brand logo */
.logo {
    height: 60.75px;
    width: 365px;
    position: absolute;
    left: 1000px;
    bottom: 440px;
}

/* Description below brand title */
.column-2 p {
    position: absolute;
    width: 466px;
    height: 48px;
    left: 1000px;
    top: 100px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #505050;
}

/* Social media logos */
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    position: absolute;
    left: 1000px;
    top: 180px;
}

.linkedin {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}
.youtube {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}
.fb {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}
.insta {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}
.telegram {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

/* Chat with an expert image */
.bottom-logo {
    color: #FFFFFF;
    width: 300px;
    height: 70px;
    position: absolute;
    left: 1110px;
    bottom: 64px;

    font-family: 'Gilroy-Bold';
    font-size: 22px;
    line-height: 26px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Copyright */
.copyright {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: -9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    text-align: center;
    color: #66747B;
}

/*----------------------------------------- FOOTER ENDS HERE ------------------------------------------*/