@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------- NAVBAR STARTS HERE ------------------------------------------*/

/* Navbar Container*/
nav {
    width: 100vw;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}

/* Brand Logo */
.brand-logo {
    position: absolute;
    width: 35.85px;
    height: 42.75px;
    left: 40px;
    top: 10px;
}

/* Brand Title */
.brand-title {
    position: absolute;
    width: 275px;
    height: 24px;
    left: 89px;
    top: 25px;

    font-family: 'Gilroy-Bold';
    font-size: 26px;
    line-height: 22px;
    font-weight: bold;
    color: #444BAB;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
}

li .renaissance {
    position: absolute;
    width: 93px;
    height: 19px;
    left: 480px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .campusprograms {
    position: absolute;
    width: 136px;
    height: 19px;
    left: 600px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .hirewithus {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 760px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .stories {
    position: absolute;
    width: 50px;
    height: 19px;
    left: 890px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

li .navevents {
    position: absolute;
    width: 48px;
    height: 19px;
    left: 970px;
    top: 25px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 19px;
    color: #4F516B;
}

.login {
    position: absolute;
    top: 15px;
    left: 1180px;
    height: 36px;
    width: 121px;

    color: #444BAB;
    background: #FFFFFF ;
    font-size: 17px;
    font-family: 'Gilroy-Bold';
    border: 1px solid #444BAB;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startfreetrial {
    position: absolute;
    top: 15px;
    left: 1320px;
    height: 36px;
    width: 164px;

    color: #FFFFFF;
    background: #444BAB;
    font-size: 17px;
    font-family: 'Gilroy-Bold';
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------------- NAVBAR ENDS HERE ------------------------------------------*/


/* ------------------------------------HIGHLIGHT EVENT STARTS HERE -------------------------------------*/

/* Highlight event background image */
.bg img {
    width: 1530px;
    height: 640px;
    left: 0px;
    top: 80px;
}

/* Triangle Images (bgTr) */
.bgTr1 img {
    position: absolute;
    top: 59px;
    left: 368.22px;
    height: 75px;
    width: 85px;
}
.bgTr2 img {
    position: absolute;
    top: 43px;
    left: 40px;
    height: 68px;
    width: 75px;
    transform: rotate(180deg);
}
.bgTr3 img {
    position: absolute;
    top: 43px;
    left: 1390px;
    height: 69px;
    width: 75px;
    transform: rotate(180deg);
}

/* Brand logo on highlight event */
/* .bgLogoPic {
    position: absolute;
    width: 35.71px;
    height: 42.59px;
    left: 1140px;
    top: 108px;
    background: #C4C4C4;
    border-radius: 2.85781px;
} */

/* Brand title on highlight event */
.bgLogoText {
    position: absolute;
    top: 100px;
    left: 1250px;
    height: 24px;
    width: 222px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

/* Highlight event profile image */
.bgPic img {
    position: absolute;
    width: 355px;
    height: 350px;
    left: 60px;
    top: 140px;
}

/* Highlight event border image*/
.bgPicBorder img {
    position: absolute;
    left: 45px;
    top: 130px;
    height: 374px;
    width: 385px;
}

/* Highlight event title */
.bgHeading {
    position: absolute;
    width: 740px;
    height: 116px;
    left: 550px;
    top: 172px;

    font-family: 'Anek Latin','Anek Malayalam',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;

    display: flex;
    align-items: center;
    color: #FFFFFF;
}

/* Highlight event start date */
.bgVenue {
    position: absolute;
    width: 410px;
    height: 26px;
    left: 550px;
    top: 295px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 149.8%;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Scholarship offer container */
.bgOffer {
    position: absolute;
    width: 780px;
    height: 58px;
    left: 550px;
    top: 352px;
    background: linear-gradient(180deg, #9CCBFD 50.62%, rgba(156, 203, 253, 0) 274.69%);
    border-radius: 27px;
}

/* Scholarship icon */
.bgHatPic img {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 16px;
    top: 11px;
}

/* Scholarship text */
.bgOfferText {
    position: absolute;
    width: 700px;
    height: 46px;
    left: 65px;
    top: 10px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 149.8%;
    text-align: justify;
    color: #090F5F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Scholarhsip text border image */
.bgOfferBorder img {
    width: 788px;
    height: 65px;
}

/* Scholarhsip text border position */
.bgOfferBorder {
    position: absolute;
    left: 546px;
    top: 349px;
}

/* Register Now button */
.bgRegister {
    position: absolute;
    width: 260px;
    height: 45px;
    left: 550px;
    top: 440px;
    background: linear-gradient(180deg, #FFF65C 0%, rgba(255, 246, 92, 0.640625) 177.73%, rgba(255, 246, 92, 0) 252.78%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 11px;
}
.bgRegister:hover {
    cursor:pointer;
}

/* Register Now button text */
.bgButtonText {
    position: absolute;
    width: 177px;
    height: 35px;
    left: 55px;
    top: 6px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 149.8%;
    color: #272834;
}

                                  /*----- Highlight event timer -----*/
.bgFooter {
    /* border: 2px solid red; */
    position: absolute;
    width: 100vw;
    height: 105px;
    top: 590px;
    background: rgba(0, 0, 0, 0.31);
}

.footerText {
    position: absolute;
    height: 54px;
    width: 305px;
    left: 410px;
    top: 28px;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

#demo {
    /* border: 2px solid red; */
    position: absolute;
    width: 290px;
    height: 68px;
    left: 750px;
    top: 15px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 400;
    font-size: 45px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
  
.days {
    position: absolute;
    width: 250px;
    height: 27px;
    top: 70px;
    left: 758px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #FFFFFF;
}

.hours {
    position: absolute;
    width: 250px;
    height: 27px;
    top: 70px;
    left: 833px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #FFFFFF;
}

.minutes {
    position: absolute;
    width: 250px;
    height: 27px;
    top: 70px;
    left: 905px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #FFFFFF;
}

.seconds {
    position: absolute;
    width: 250px;
    height: 27px;
    top: 70px;
    left: 986px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #FFFFFF;
}

/* ------------------------------------ HIGHLIGHT EVENT ENDS HERE --------------------------------------*/


/* ------------------------------------ UPCOMING EVENT STARTS HERE -------------------------------------*/

/* UPCOMING EVENTS CONTAINER */
.upcoming-events-container {
    /* border: 2px solid red; */
    position: absolute;
    height: 1260px;
    width: 1200px;
    top: 730px;
    left: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* EVENT BOXES */
.events {
    height: 268px;
    width: 1196px;
    border: 2px solid #444BAB;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
}

/* EVENT DESCRIPTION CONTAINER */
.events div {
    /* border: 2px solid red; */
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* EVENT TITLES */
.event-title {
    /* border: 2px solid red; */
    color: #272834;
    width: 546px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
}


.calender-pic {
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
}

.date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #272834;
}

.time {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #272834;
}

.button {
    width: 185px;
    height: 49px;
    left: 691px;
    top: 1015px;

    background: linear-gradient(93.44deg, #444BAB -6.8%, #3CA5C2 186.94%);
    border-radius: 6px;
}

.register {
    width: 133px;
    height: 22px;
    left: 715px;
    top: 1024px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.group {
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;
}

.participant {
    width: 230px;
    height: 24px;
    left: 921px;
    top: 1028px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #272834;
}

.ring {
    position: static;
    width: 38px;
    height: 38px;
    left: 1256px;
    top: 840px;
    border-radius: 50%;

    background: #FFFFFF;
    box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.upcomingparent {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    position: absolute;
    top: 6px;
    width: 1100px;
    height: 70px;
}

.upcoming {
    /* border: 2px solid red; */
    width: 1068px;
    height: 54px;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;

    display: flex;
    align-items: center;
    color: #272834;
}

.add-button {
    /* border: 2px solid red; */
    width: 62px;
    height: 62px;

    background: linear-gradient(143.77deg, #3E8EBC 5.24%, #444BAB 84.52%);
    border-radius: 50%;
}

.addpic {
    left: 89.79%;
    right: 8.91%;
    top: 19.72%;
    bottom: 79.77%;
    border: 4px solid #FFFFFF;
}

.share {
    width: 38px;
    height: 38px;
    left: 1256px;
    top: 840px;

    background: #FFFFFF;
    box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

#sharepic {
    height: 18px;
    width: 18px;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
}

/* ------------------------------------ UPCOMING EVENT ENDS HERE ---------------------------------------*/


/* ----------------------------------- SUCCESS STORIES STARTS HERE -------------------------------------*/

#myCarousel {
    width: 70%;
}

#successCtn {
    padding: 2.4rem;
    position: absolute;
    top: 2000px;
    left: 160px;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

button.carousel-control-prev {
    left: 0
}

#succTitle {
    text-align: center;
    color: #444BAB;
    font-size: 1.5rem;

}

#succText {
    color: #4F516B;
    font-size: 2rem;
    text-align: center;
}

#sstories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    width: 100%;
}

.cItem {
    width: 100%;
    padding: 1rem;
    display: flex;
    column-gap: 30px;
}

#studentName {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
}

#studentTitle {
    font-weight: normal;
    font-size: 1.5rem;
}

.bgColorGray {
    color: black;
}

.carousel-control-prev {
    left: -25px;
}

#successBtn1 {
    background-color: #444bab;
    color: white;
    border: 0 solid black;
    border-radius: 8px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-top: 25px;
    font-size: 1.2rem;
    margin-bottom: 50px;
    width: 25%;
}

#successBtn2 {
    background: linear-gradient(93.44deg, #444bab -6.8%, #3ca5c2 186.94%);
    border-radius: 8px;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    font-size: 1.2rem;
}

#freetrialboxsuc {
    width: 100%;
    display: flex;
    justify-content: center;
}

#inputEmail {
    background: #FAFAFB;
    border-radius: 6px;
    width: 250px;
    font-family: Poppins;
    font-size: 1.2rem;
}


#ssbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 50px;
}

#pCaption {
    font-size: 1.5rem;
}

/*------------------------------------- SUCCESS STORIES ENDS HERE -------------------------------------*/


/*---------------------------------------- FOOTER STARTS HERE -----------------------------------------*/

footer {
    width: 100%;
    position: absolute;
    top: 2900px;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

#footer-hr1 {
    position: absolute;
    width: 100vw;
    bottom: 550px;
    left: 0;
}

.row {
    width: 88%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.column-1 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    padding-bottom: 24px;
    margin-top: -56px;
    color: #4F516B;
}

.column-1 h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    padding-bottom: 46px;
    color: #505050;
}

.logo {
    height: 60.75px;
    width: 365px;
    position: absolute;
    left: 1050px;
    bottom: 480px;
}

.column-2 p {
    position: absolute;
    width: 466px;
    height: 48px;
    left: 1050px;
    top: 120px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    position: absolute;
    left: 1050px;
    top: 200px;
}

.linkedin {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.youtube {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.fb {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.insta {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.telegram {
    background: #FAFAFB;
    border-radius: 4px;
    padding: 8px
}

.copyright {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: -9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    text-align: center;
    color: #66747B;
}

ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    column-gap: 41px;
    color: #4F516B;
}



.bottom-logo {
    color: #FFFFFF;
    width: 300px;
    height: 70px;
    position: absolute;
    left: 1150px;
    bottom: 84px;

    font-family: 'Gilroy-Bold';
    font-size: 22px;
    line-height: 26px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*----------------------------------------- FOOTER ENDS HERE ------------------------------------------*/